<p>altacliente works!</p>
<div class="">
    <form action="" id="form" method="POST">
        <div class="form">
            <div class="close-btn">+</div>
            <h2 class="form_title">Registro</h2>
            <div class="">
                <input class="form_input" id="name" type="text"><span class="barra"></span>
                <label class="form_label">Nombre</label>
            </div>
            <div class="">
                <input class="form_input" id="apellido" type="text"><span class="barra"></span>
                <label class="form_label">Apellido</label>
            </div>
            <div class="">
                <input class="form_input" id="mail" type="email"><span class="barra"></span>
                <label class="form_label">Mail</label>
            </div>
            <div class="">
                <input class="form_input" id="password" type="password"><span class="barra"></span>
                <label class="form_label">Password</label>
            </div>
            <div class="">
                <input class="form_input" id="matter" type="text"><span class="barra"></span>
                <label class="form_label">Asunto</label>
            </div>
            <div class="">
                <input type="checkbox" id="scales" name="scales" checked>
                <label for="scales">Quiero recibir novedades</label>
            </div>
            <button type="submit" class="btn">Enviar</button>
            <p class="warnings" id="warnings"></p>
        </div>
    </form>
</div>